h1 {
    color: red; 
    text-align: center; 
    background: lightblue; 
}

.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 30%;
    margin: 0 auto;  
    transition: all 1s; 
}

img:hover {
    transform: scale(1.1); 
}

h2 {
    text-align: center; 
    background: lightblue; 
}

#counter {
    text-align: center; 
}

